* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    /* display: flex; */
    justify-content: center;
    background-color: lightblue;
}

h1 {
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
}
ul {
    border-bottom: 3px solid;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: x-large;
}

.uche1 {
    display:flex;
    justify-content: center;
    list-style: none;
    margin: 10px;
}

.uche2 {
    display:flex;
    justify-content: center;
    list-style: none;
   
}

h2 {
    text-transform: capitalize;
    border-bottom: 3px solid;
}

span {
    margin-left: 20px;
   
}
